.div1{
    padding: 10px;
    border: 10px;
    margin: 10px;
    background-color: greenyellow;
    border-radius: 10px;
}

#div_Batata{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 10px solid rgb(163, 62, 62);
    background-color: lightpink;
    border-radius: 10px;
    display: inline-flex;
}

#div_Banana{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 10px solid green;
    background-color: yellow;
    border-radius: 10px;
    display: inline-flex;
}


#div_Feijao{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 10px solid rgb(27, 26, 26);
    background-color: darkgray;
    border-radius: 10px;
    display: flex;
}