
/* 
--------------------------------------------
--- FUNCIONA NO PRIMEIRO `P` FORA DA DIV ---
---------------- OU SEJA -------------------
---------- O ADJACENTE DIRETO --------------
--------------------------------------------

*/
/* 
div + p {
  color:blue;
  font-size: 20px;
} */

/*
------------------------------------
--- FUNCIONA NOS `P` FORA DA DIV ---
------------- OU SEJA --------------
------- TODOS OS ADJACENTES --------
------------------------------------
*/
/* 
div ~ p {
  color: firebrick;
  font-size: 15px;
} */

